{#<!DOCTYPE html>#}
{#Старая версия регистрации модуля#}
{#<html lang="ru">#}
{##}
{#{% extends 'main/layout.html' %}#}
{#{% block title %}#}
{#    Регистрация модуля#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#<div class="form-container">#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Динамические выпадающие списки</title>#}
{#    <script>#}
{#        function updateSecondSelect() {#}
{#            const firstSelect = document.getElementById('firstSelect');#}
{#            const secondSelect = document.getElementById('secondSelect');#}
{#            const selectedValue = firstSelect.value;#}
{##}
{#            secondSelect.innerHTML = ''; // Clear previous options#}
{##}
{#            let options = [];#}
{#            if (selectedValue === 'MU') {#}
{#                options = ['Модуль МУ.1 еЦ5.155.01904', 'Модуль МУ.1 еЦ5.155.019-0104', 'Модуль МУ.3 еЦ5.155.02304', 'Модуль МУ.3 еЦ5.155.023-0104'];#}
{#            }#}
{#            else if (selectedValue === 'MVVS') {#}
{#                options = ['Модуль МПД', 'Модуль МВД', 'Модуль МВД‑У', 'Модуль МПТ', 'Модуль МВА', 'Модуль МПА', 'Модуль МПИ‑У', 'Модуль МСР', 'Модуль МКА', 'Модуль МППТ', 'Модуль МПИ'];#}
{#            }#}
{#            else if (selectedValue === 'MR') {#}
{#                options = ['Модуль МР'];#}
{#            }#}
{#            else if (selectedValue === 'MD') {#}
{#                options = ['Модуль МД'];#}
{#            }#}
{#            else if (selectedValue === 'MVVS_SPIN') {#}
{#                options = ['Модуль МК'];#}
{#            }#}
{#            else if (selectedValue === 'KP') {#}
{#                options = ['Плата объединительная КП.1'];#}
{#            }#}
{#            else if (selectedValue === 'BOS') {#}
{#                options = ['Блок БОС.1', 'Блок БОС.2','Модуль МОС.24', 'Модуль МОС.25'];#}
{#            }#}
{#            else if (selectedValue === 'BV') {#}
{#                options = ['Блок БВ.1еЦ5.139.14404', 'Блок БВ.1еЦ5.139.144-0104','Блок БВ.1еЦ5.139.144-0204', 'Блок БВ.1еЦ5.139.144-0304'];#}
{#            }#}
{#            else if (selectedValue === 'SK') {#}
{#                options = ['Соединитель клеммный СКеЦ5.282.24204', 'Соединитель клеммный СКАеЦ5.282.25104','Соединитель клеммный СКА‑УеЦ5.282.25304',#}
{#                    'Соединитель клеммный СКПИеЦ5.282.24404','Соединитель клеммный СКПИ.2еЦ5.282.26704', 'Соединитель клеммный СКТДеЦ5.282.25204',#}
{#                    'Соединитель клеммный СКДАеЦ5.282.24804', 'Соединитель клеммный СКДДеЦ5.282.24704','Соединитель клеммный СКДРеЦ5.282.25004',#}
{#                    'Соединитель клеммный СКИМеЦ5.282.26104','Соединитель клеммный СК‑МСРеЦ5.282.26604', 'Соединитель клеммный СКД‑МСРеЦ5.282.26504',#}
{#                    'Соединитель клеммный СК‑МКАеЦ5.282.25404', 'Соединитель клеммный СКД‑МКАеЦ5.282.25504','Соединитель клеммный СКНеЦ5.282.24904'];#}
{#            }#}
{#            else if (selectedValue === 'KABELS') {#}
{#                options = ['Кабель КАСеЦ6.641.73304', 'Кабель КАСеЦ6.641.733-0104', 'Кабель КАСеЦ6.641.733-0204', 'Кабель КАСеЦ6.641.733-0304', 'Кабель КАСеЦ6.641.733-0404', 'Кабель КАСеЦ6.641.733-0504',#}
{#'Кабель КДСеЦ6.641.76604', 'Кабель КДСеЦ6.641.766-0104', 'Кабель КДСеЦ6.641.766-0204', 'Кабель КДСеЦ6.641.766-0304', 'Кабель КДСеЦ6.641.766-0404', 'Кабель КДСеЦ6.641.766-0504',#}
{#'Кабель КТДеЦ6.641.73904', 'Кабель КТДеЦ6.641.739-0104', 'Кабель КТДеЦ6.641.739-0204', 'Кабель КТДеЦ6.641.739-0304', 'Кабель КТДеЦ6.641.739-0404', 'Кабель КТДеЦ6.641.739-0504',#}
{#'Кабель КМПИеЦ6.641.74004', 'Кабель КМПИеЦ6.641.740-0104', 'Кабель КМПИ-УеЦ6.641.73404', 'Кабель КМПИ-УеЦ6.641.734-0104', 'Кабель КПИ.1еЦ6.641.77104', 'Кабель КПИ.1еЦ6.641.771-0104',#}
{#'Кабель КПИ.1еЦ6.641.771-0204', 'Кабель КПИ.1еЦ6.641.771-0304', 'Кабель КПИ.1еЦ6.641.771-0404', 'Кабель КПИ.1еЦ6.641.771-0504', 'Кабель КПИ.2еЦ6.641.77204', 'Кабель КПИ.2еЦ6.641.772-0104', 'Кабель КПИ.2еЦ6.641.772-0204',#}
{#'Кабель КПИ.2еЦ6.641.772-0304', 'Кабель КПИ.2еЦ6.641.772-0404', 'Кабель КПИ.2еЦ6.641.772-0504', 'Кабель КПИ.3еЦ6.641.77304', 'Кабель КПИ.3еЦ6.641.773-0104', 'Кабель КПИ.3еЦ6.641.773-0204',#}
{#'Кабель КПИ.3еЦ6.641.773-0304', 'Кабель КПИ.3еЦ6.641.773-0404', 'Кабель КПИ.3еЦ6.641.773-0504', 'Кабель КПИ.4еЦ6.641.77404', 'Кабель КПИ.4еЦ6.641.774-0104',#}
{#'Кабель КПИ.4еЦ6.641.774-0204', 'Кабель КПИ.4еЦ6.641.774-0304', 'Кабель КПИ.4еЦ6.641.774-0404', 'Кабель КПИ.4еЦ6.641.774-0504',#}
{#'Кабель КПИ.5еЦ6.641.77504', 'Кабель КПИ.5еЦ6.641.775-0104', 'Кабель КПИ.5еЦ6.641.775-0204', 'Кабель КПИ.5еЦ6.641.775-0304', 'Кабель КПИ.5еЦ6.641.775-0404',#}
{#'Кабель КПИ.5еЦ6.641.775-0504', 'Кабель КПИ.6еЦ6.641.77604', 'Кабель КПИ.6еЦ6.641.776-0104', 'Кабель КПИ.6еЦ6.641.776-0204', 'Кабель КПИ.6еЦ6.641.776-0304', 'Кабель КПИ.6еЦ6.641.776-0404', 'Кабель КПИ.6еЦ6.641.776-0504',#}
{#'Кабель КПИ.7еЦ6.641.77704', 'Кабель КПИ.7еЦ6.6410,.777-0104', 'Кабель КПИ.7еЦ6.641.777-0204', 'Кабель КПИ.7еЦ6.641.777-0304', 'Кабель КПИ.7еЦ6.641.777-0404', 'Кабель КПИ.7еЦ6.641.777-0504',#}
{#'Кабель КПИ.8еЦ6.641.77804', 'Кабель КПИ.8еЦ6.641.778-0104', 'Кабель КПИ.8еЦ6.641.778-0204', 'Кабель КПИ.8еЦ6.641.778-0304', 'Кабель КПИ.8еЦ6.641.778-0404', 'Кабель КПИ.8еЦ6.641.778-0504',#}
{#'Кабель КИ.1еЦ6.641.74804', 'Кабель КИ.1еЦ6.641.748-0104', 'Кабель КИ.1еЦ6.641.748-0204', 'Кабель КИ.1еЦ6.641.748-0304', 'Кабель КИ.1еЦ6.641.748-0404',#}
{#'Кабель КИ.2еЦ6.641.74904', 'Кабель КИ.2еЦ6.641.749-0104', 'Кабель КИ.2еЦ6.641.749-0204', 'Кабель КИ.2еЦ6.641.749-0304', 'Кабель КИ.2еЦ6.641.749-0404', 'Кабель КИ.3еЦ6.641.79404', 'Кабель КИ.4еЦ6.641.79504',#}
{#'Кабель КРеЦ6.641.79604', 'Кабель КРеЦ6.641.796-0104'];#}
{#            }#}
{#            else if (selectedValue === 'KONSTRUCTIVEELEMINT') {#}
{#                options = ['Каркас объединительный КО.1', 'Заглушка	еЦ6.433.069','Заглушка	еЦ6.433.070'];#}
{#            }#}
{##}
{#            // Заполнение второго выпадающего списка#}
{#            options.forEach(option => {#}
{#                const newOption = document.createElement('option');#}
{#                newOption.value = option;#}
{#                newOption.textContent = option;#}
{#                secondSelect.appendChild(newOption);#}
{#            });#}
{#        }#}
{##}
{#    </script>#}
{#</head>#}
{##}
{#<body>#}
{#    <h1>Регистрация модуля</h1>#}
{##}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <label>Выберите семейство:</label>#}
{#        {{ form.family }}#}
{#        <label>Выберите тип изделия:</label>#}
{#        {{ form.type }}#}
{#        <label>Выберите количество модулей:</label>#}
{#        {{ form.module_count }}#}
{#        <label>Выберите дату производства:</label>#}
{#        {{ form.production_date }}#}
{#        <label>История модуля:</label>#}
{#        {{ form.history }}#}
{#            <input type="submit" value="Отправить" class="submit-button">#}
{#    </form>#}
{#</body>#}
{#    </div>#}
{#{% endblock %}#}


{#<!DOCTYPE html>#}
{#<html lang="ru">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Регистрация модуля</title>#}
{#    <script>#}
{#        // Добавьте логику автозаполнения здесь, если необходимо#}
{#    </script>#}
{#</head>#}
{##}
{#<body>#}
{#    <div class="form-container">#}
{#        <h1>Регистрация модуля</h1>#}
{##}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            <div>#}
{#                <label for="ec-number">Номер ец:</label>#}
{#                {{ form.ec_number }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="modules">Выберите количество модулей:</label>#}
{#                {{ form.module_count }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="production-date">Выберите дату производства:</label>#}
{#                {{ form.production_date }}#}
{#            </div>#}
{#            <div>#}
{#                <label for="history">История модуля:</label>#}
{#                {{ form.history }}#}
{#            </div>#}
{#            <input type="submit" value="Отправить" class="submit-button">#}
{#        </form>#}
{#    </div>#}
{#</body>#}
{#</html>#}

modules.html

<!DOCTYPE html>
<html lang="ru">
{% extends 'main/layout.html' %}
{% block title %}
    Регистрация модуля
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Регистрация модуля</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="ec-number">Номер еЦ:</label>
            {{ form.ec_number }}
        </div>
        <div>
            <label for="modules">Выберите количество модулей:</label>
            {{ form.module_count }}
        </div>
        <div>
            <label for="production-date">Выберите дату производства:</label>
            {{ form.production_date }}
        </div>
        <div>
            <label for="history">История модуля:</label>
            {{ form.history }}
        </div>
        <input type="submit" value="Отправить" class="submit-button">
    </form>
</div>
{% endblock %}





