<!DOCTYPE html>
<html lang="ru">
{% extends 'main/layout.html' %}
{% block title %}
    Регистрация модуля
{% endblock %}

{% block content %}
<div class="form-container">
    <h1>Регистрация модуля</h1>

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="ec-number">Номер еЦ:</label>
            {{ form.ec_number }}
        </div>
        <div>
            <label for="modules">Выберите количество модулей:</label>
            {{ form.module_count }}
        </div>
        <div>
            <label for="production-date">Выберите дату производства:</label>
            {{ form.production_date }}
        </div>
        <div>
            <label for="history">История модуля:</label>
            {{ form.history }}
        </div>
        <div>
            <label for="number-of-module">Номер модуля:</label>
            {{ form.number_of_module }}
        </div>
        <input type="submit" value="Отправить" class="submit-button">
        <input type="submit" value="Печать этикеток" class="submit-button">
        <p>Такого изделия не существует? <a href="{% url 'new_info_modules' %}">Зарегистрируйте</a></p>
    </form>
</div>
{% endblock %}










