{% extends 'main/layout.html' %}

{% block title %}Статус модулей{% endblock %}

{% block content %}
    <body>
        <p>Чтобы узнать информацию о изделии, отсканируйте QR код на его корпусе или введите в строку его серийный номер</p>
    <div class="form-container">
        <form>
            <label for="serial-number">Введите серийный номер:</label>
            <input type="text" id="serial-number" name="serial_number" required>
            <button type="submit" class="submit-button">Отправить</button>
        </form>
    </div>    </body>
{% endblock %}
