{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="form-container">

        <form method="get" action="{% url 'status' %}">
            <label for="serial-number">Отсканируйте QR код или введите серийный номер:</label>
            <input type="text" id="serial-number" name="serial_number" required autofocus>
            <button type="submit" class="submit-button">Отправить</button>
        </form><br><br>

        {% if tasks %}
            <table>
                <thead>
                <style>
    table {
        border-collapse: separate;
        border-spacing: 10px; /* Расстояние между колонками */
    }
                </style>

{#                    <tr>#}
{#                        <th>Название</th>#}
{#                        <th>Значение</th>#}
{#                    </tr>#}
                </thead>
                <tbody>
                    {% for el in tasks %}
                        <tr>
                            <td>Семейство изделия</td>
                            <td>{{ el.product_family }}</td>
                        </tr>
                        <tr>
                            <td>Тип изделия</td>
                            <td>{{ el.product_type }}</td>
                        </tr>
                        <tr>
                            <td>Ревизия</td>
                            <td>{{ el.revision }}</td>
                        </tr>
                        <tr>
                            <td>Серийный номер</td>
                            <td>{{ el.serial_number }}</td>
                        </tr>
                        <tr>
                            <td>Порядковый номер</td>
                            <td>{{ el.sequence_number }}</td>
                        </tr>
                        <tr>
                            <td>Производитель</td>
                            <td>{{ el.manufacturer }}</td>
                        </tr>
                        <tr>
                            <td>Дата производства</td>
                            <td>{{ el.date_of_production }}</td>
                        </tr>
                        <tr>
                            <td>История изделия</td>
                            <td>{{ el.history_of_module }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Такого модуля не существует</p>
        {% endif %}

    </div>
{% endblock %}
